*{
    padding:0;
    margin:0;
    font-family: '΢���ź�';
    font-size: 14px;
    color: #333333;
}
.show_flex{
    display:flex;
    justify-content:space-between;
}
a{
    text-decoration:none;
    font-size:12px;
}
img{
    vertical-align: middle;
    border:0;
}
.clear{
    clear:both;
}
.show{
    width:100%;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #68af63;
    background-color: #fff;
    border-color: #fff #fff #68af63;
    border-bottom-width: 2px;
    box-sizing: border-box;
}
.nav-tabs{
    border-bottom: 0;
}

.show_top{
    width:1200px;
    margin: 120px auto 0 auto;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 28px;
    position: relative;
}
.show_top_left{
    width:200px;
    min-width:200px;
    height:19px;
}
.show_top_left ul{
    background-color: #fff;
    padding-top: 1rem;
    margin: 0;
}
.show_top_left a{
    color:#999;
    text-decoration: none;
}
.show_top_right{
    width:410px;
    box-sizing: border-box;
}
.show_top_right a{
    font-size:14px;
    color:#999;
}

.show_profile{
    width:1200px;
    margin:0 auto 40px auto;
    padding-top: 20px;
    min-height: 437px;
}

.p1{
    text-align: right;
    margin-top: 20px;
}
.p1 a{
    color:#666;
    font-size:12px;
}